<h1 class="vsts-stt-color-primary">Settings</h1>
<div class="settings-buttons">
  <div>
    {{#link-to "index" classNames="vsts-stt-button vsts-stt-button-small"}} Back {{/link-to}}
  </div>
  <div>
    <button type="button" class="vsts-stt-button vsts-stt-button-small" {{action "invalidateSession"}}>
      Logout
    </button>
  </div>
</div>
<div>
  <h2>Set Creation Defaults</h2>
  <div class="form">
    <div>Account</div>
    {{#x-select value=vsts.account on-change=(action 'selectAccount') as |xs|}}
      {{#each vsts.model as |account|}}
        {{#xs.option value=account}}{{account.accountName}}{{/xs.option}}
      {{/each}}
    {{/x-select}}

    <div>Project</div>
    {{#x-select value=vsts.project on-change=(action 'selectProject') as |xs|}}
      {{#each vsts.account.projects as |project|}}
        {{#xs.option value=project}}{{project.name}}{{/xs.option}}
      {{/each}}
    {{/x-select}}

    <div>Item Type</div>
    {{#x-select value=vsts.itemType on-change=(action 'selectItemType') as |xs|}}
      {{#each vsts.project.itemTypes as |type|}}
        {{#xs.option value=type}}{{type.name}}{{/xs.option}}
      {{/each}}
    {{/x-select}}

    <label for="tag">Tag</label> {{input type="text" id="tag" value=vsts.tag required="true" }}
  </div>
  <h2>Manually Create Item</h2>
  <form {{action (action "createWorkItem") on="submit" }}>
    <div class="form">
      <label for="title">Title</label> {{input type="text" id="title" value=title required="true" }}
      <label for="description">Description</label> {{input type="text" id="description" value=description required="true" }}
    </div>
    <div class="settings-buttons">
      <button type="submit" class="vsts-stt-button vsts-stt-button--primary">
        Create {{itemType.name}}
      </button>
      {{#if lastWorkItem}}
      <div>
        <a href={{lastWorkItemUrl}} class="vsts-stt-button vsts-stt-button-small" target="_blank" {{action (action "dismiss") preventDefault=false}}>
          Open in VSTS
        </a>
      </div>
      {{/if}}
    </div>
  </form>

  <h2>Create Query</h2>
  
  <div class="form">
    <label for="queryName">Query Name</label> {{input type="text" id="queryName" value=queryName }}
  </div>

  <div class="settings-buttons">
    <button type="button" class="vsts-stt-button vsts-stt-button--primary" {{action (action "createQuery")}}>
      Create Query
    </button>
  </div>
</div>